extends ./cover_layout.jade

block content
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand Project-M
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='#') Home
                  li
                    a(href='#') Contact
          .inner.cover
            h1.cover-heading Welcome to Project-M
            p.lead
              | Attempting auto-detection.  Ensure your device is powered on.  This process can take up to 3 minutes.
          .mastfoot
            .inner
              p
                | Cover template for 
                a(href='http://getbootstrap.com') Bootstrap
                | , by 
                a(href='https://twitter.com/mdo') @mdo
                | .
