extends ./cover_layout.jade

block content
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand Project-M
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='#') Home
                  li
                    a(href='#') Contact
          .inner.cover
            h1.cover-heading Welcome to Project-M
            p.lead
              | Auto-detection has failed.
            form.form-signin(action='/verify', method='POST')
              h2.form-signin-heading Please enter device serial number to proceed
              label.sr-only(for='inputSerial') Serial number
              input#inputSerial.form-control(type='email', name='serial', placeholder='Serial number', required='', autofocus='')
              button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
          .mastfoot
            .inner
              p
                | Cover template for 
                a(href='http://getbootstrap.com') Bootstrap
                | , by 
                a(href='https://twitter.com/mdo') @mdo
                | .
