<!DOCTYPE html>
<html>
<head>
    <title>User Info</title>
</head>
<body>
    <h1>User with id: <%= (user) ? user.id : "" %></h1>
    <p>User text:<%= (user.text) ? user.text : "" %></p><a href="/">Back</a>
</body>
</html>